---
export interface Props {
  text: string;
}
const { text } = Astro.props;
---
<footer>
  <p>{text}</p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 20px;
    color: #7f8c8d;
  }
</style>
