---
export interface Link {
  href: string;
  label: string;
}

export interface Props {
  links: Link[];
}

const { links } = Astro.props;
---
<nav>
  {links.map(link => <a href={link.href}>{link.label}</a>)}
</nav>

<style>
  nav {
    background: var(--white);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    font-size: 0.9rem;
  }
</style>
